.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.buttonRed {
  background: red;
  cursor: pointer;
}

.buttonBlue {
  background: blue;
  cursor: pointer;
}

.news{
  
  background-color: burlywood;


}

.container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.back {
  padding-bottom:10 ;
  height: 650px;
  background: url(https://www.ixbt.com/img/n1/news/2019/7/5/world_of_warcraft_battle_for_azeroth_elektronnyy_klyuch_wow-azeroth_large.jpg) no-repeat center;
  background-size: cover;

  text-align: center;
}
.back1 {
  padding: 0;
  height: 800px;
  background: url(https://p4.wallpaperbetter.com/wallpaper/847/125/105/anduin-wrynn-genn-greymane-night-elves-dwarfs-wallpaper-preview.jpg) no-repeat center;
  background-size: cover;

  text-align: center;
}
.back2 {
  padding: 0;
  height: 800px;
  background: url(https://pbs.twimg.com/media/Dpy45UjW0AA_hat.jpg) no-repeat center;
  background-size: cover;

  text-align: center;
}